 #container {
    display: flex;
 }

.container { 
    border: 2px solid green;
    
}

.producto {
    width: 300px;
    height:200px;
    border:2px solid green;
    margin-bottom: spx;
}

.producto img {
    width: 100px;
    height: 100px;
}

